<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async="" type="text/javascript" src="http://yandex.st/jquery/2.0.3/jquery.js"></script>
    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap CSS -->

    <!-- CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- CSS -->

    <!--FAVICON-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!--FAVICON-->
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            });
        }
    </script>


    <title>{% block title %}{% endblock %}</title>
</head>

<nav class="navbar navbar-expand-lg  navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h3 class="text fw-bold"></h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item fw-bold ">
          <a class="nav-link active text" aria-current="page" href="{% url 'main' %}"><h4 class="text">Главная</h4></a>
        </li>
        <li class="nav-item fw-bold ">
          <a class="nav-link active text" aria-current="page" href="{% url 'contacts' %}"><h4 class="text">Контакты</h4></a>
        </li>
        <li class="nav-item fw-bold ">
          <a class="nav-link active text" aria-current="page" href="{% url 'about_us' %}"><h4 class="text" id='text_nav'>О нас</h4></a>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
  {% if not request.user.is_authenticated %}
  <a class='a_food' href="{% url 'register' %}"><h5 class="fw-bold text">Регистрация</h5> </a> |   <a class='a_food' href="{% url 'login' %}"><h5 class="fw-bold text">Авторазация</h5></a>
  {% else %}
  <a class='a_food' href="{% url 'logout' %}"><h5 class="fw-bold text">Выход</h5></a>
  {% endif %}
 

</nav>



{% block content %}
{% endblock %}



<!-- Bootstrap JS -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Bootstrap JS -->

</body>
</html>